<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228507313129-9okag2jts3lsuu5mcjjpial80t7hb6st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228507313129-9okag2jts3lsuu5mcjjpial80t7hb6st</string>
	<key>API_KEY</key>
	<string>AIzaSyACcqIgLXT83mztBB8uyD5oyvpvA30gsaE</string>
	<key>GCM_SENDER_ID</key>
	<string>228507313129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yongmin.ios-instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestore-7d50d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestore-7d50d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228507313129:ios:63b896b817552db2ac6178</string>
</dict>
</plist>